html {
  scroll-behavior: smooth;
}

body {
  padding-top: 56px;
}

.active{
  color: black;
  font-size: 16px;
  font-weight: bold;
}


.active:hover{
  font-weight: lighter;
}


.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.carousel-item h3{
  padding-bottom: 130px;
  font-size: 45px;
  font-weight: bold;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.background-white{
  background-color: #DCDCDC;
}

.brand-area{
  background: white;
}

.single-brand img{
  width: 80%;
  height: 80%;
}

.page-footer{
  background-color: #45526e;
}

.page-footer h6, .page-footer p, .page-footer a{
  color: white;
}

@media (max-width: 780px) {
  .carousel-item h3{
    display: inline-block;
    /*max-width: 55%;*/
    max-width: 50%;
    vertical-align: middle;
    
  }

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal{
  z-index: 2000;
}

/* Footer */

.container-2 {
  width: 100%;
  padding: 0;
}

footer {
  width: 100%;
  margin: 0 auto;
}

.up-hold{
  background-color: #262626;
}

.footer{
  text-align: center;
}

.text-center{
  text-align: center;
}

.py-3{
  padding-bottom: 1rem; 
}

.py-3{
  padding-top: 1rem; 
}

.page-footer, .footer-copyright{
  overflow: hidden;
  background-color: #181717;
  color: rgba(255,255,255,.6);
  width: 100%;
}

.page-footer, .footer-copyright a{
  text-decoration: none;
  color: white;
  margin-right: 1em;
  text-transform: uppercase;
  font-size:12px;
}

.footer-copyright a{
  margin-left: 3em;
}

.foot-ul{
  list-style: none;
  text-align: center;
}

.foot-ul li{
  display: inline;
  margin-right: 46px;
}

.foot-ul a{
  text-decoration: none;
  color: white;
}


/* About page */

.team-section{
  overflow: hidden;
  text-align: center;
  background: #f5f7f5;
  padding: 60px;
}

.ps{
  margin-bottom: 40px;
}

.ps a{
  display: inline-block;
  margin: 0px 30px;
  height: 160px;
  width: 160px;
  overflow: hidden;
  border-radius: 50%;
}

.ps a img{
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s all;
}


.ps a:hover img,
.ps a:focus img,
.ps a.active img {
  filter: none;
}

.section{
  width: 600px;
  margin: auto;
  font-size: 20px;
  text-align: justify;
  height: 0;
  overflow: hidden;
}

.section:target{
  height: auto;
}

.name{
  display: block;
}

.name h3, .name p{
  display: inline-block;
}


@media (max-width:690px){
  
.section{
  width: auto;
}

iframe{
  width: 450px;
}

}

/* Products */

.corses-tab{
  border: 1px solid #edf0f2;
  border-radius: 5px;
}

.foxy img{
  position: fixed;
}

.card-body li{
  line-height: 1.7;
}